[submodule "submodules/Depth-Anything-V2"]
	path = submodules/Depth-Anything-V2
	url = git@github.com:DepthAnything/Depth-Anything-V2.git
[submodule "submodules/nvdiffrast"]
	path = submodules/nvdiffrast
	url = git@github.com:NVlabs/nvdiffrast.git
[submodule "gaussian_wrapping/eval/TNTUniScanEvals"]
	path = gaussian_wrapping/eval/TNTUniScanEvals
	url = https://github.com/diego1401/TNTUniScanEvals.git
[submodule "submodules/Geometry-Grounded-Gaussian-Splatting"]
	path = submodules/Geometry-Grounded-Gaussian-Splatting
	url = https://github.com/HKUST-SAIL/Geometry-Grounded-Gaussian-Splatting.git
